* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  font-family: 'Arial';
  font-size: 16px;
  background: black;
  color: white;
  padding: 1em;
}

h2 {
  margin: 0 0 0.25rem 0;
  font-size: 3em;
  font-weight: normal;
  text-align: center;
}

button {
  margin: 0 0 1em 0;
  padding: 1em;
  color: blue;
  background: rgba(0, 0, 255, 0.2);
  box-shadow: 0 0 0.333em blue;
  
  border: 1px dotted blue;
  border-radius: 100px;
  font-size: 16px;
  text-transform: uppercase;
}

button.done {
  background: none;
  box-shadow: 0 0 3em blue;
}